.container {
    padding: 0 20px;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .bullet {
    width: 8px;
    height: 8px;
    background-color: #2d4b6f;
    border-radius: 20px;
  }
  
  .active {
    // border: 2px solid green !important;
    .title{
      box-shadow: 0 0 6px 1px #cccccc85;
      transform: scale(1.03);
    }
    .bullet {
      background-color: blue;
    }
  }
  
  line {
    stroke-width: 2px;
  }
  .mapper {
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    .lhs,
    .rhs {
      width: 200px;
    }
  
    // .rhs{
    //   transform: rotate(90deg) translate(500px,400px);
    // }
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 5px;
      cursor: pointer;
      transition: all 0.2s;
  
      .title {
        background-color: #cccccc59;
        border: 1px solid #c3c3c3c2;
        padding: 8px;
        width: 85%;
        border-radius: 10px;
        color: #4e4d4d;
        transition: all .2s;
  
        &:hover {
          box-shadow: 0 0 6px 1px #cccccc85;
          transform: scale(1.03);
        }
      }
    }
  }
  